<div>
	<section class="my_applications top-content">
		<h4>Your Applications</h4>
		<table>
			<thead>
				<th>Application No.</th>
				<th>Date of Application</th>
				<th>Status</th>
				<th>Action</th>
			</thead>
			<tbody>
				<tr>
					<td>#1203</td>
					<td>June 24, 2016</td>
					<td><span class="status accepted">Accepted</span></td>
					<td>-</td>
				</tr>
				<tr>
					<td>#1204</td>
					<td>June 25, 2016</td>
					<td><span class="status rejected">Rejected</span></td>
					<td>-</td>
				</tr>
				<tr>
					<td>#1205</td>
					<td>June 26, 2016</td>
					<td><span class="status progress">Progress</span></td>
					<td>-</td>
				</tr>
			</tbody>
		</table>
	</section>
</div>