<div>
	<section class="my_applications top-content">
		<h4>Your Applications</h4>
		<table>
			<thead>
				<th>Application No.</th>
				<th>Type</th>
				<th>Date of Creation</th>
				<th>Status</th>
				<th>Progress</th>
				<th>Action</th>
			</thead>
			<tbody>
				<tr ng-repeat="application in ac.applications">
					<td>#{{application.id}}</td>
					<td>{{application.type.name}}</td>
					<td>{{application.createdAt | date : "medium"}}</td>
					<td><span class="status" ng-class="application.status === 'PROGRESS' ? 'progress' : application.status === 'FINISHED' ? 'accepted' : 'rejected'">{{application.status | statusFilter}}</span></td>
					<td>{{application.progress | capitalize}}</td>
					<td><button ng-click="hc.takeAction(application)" ng-disabled="application.status === 'PROGRESS'">{{application.status === "PROGRESS" ? "-" : application.status === "WAITING_ON_USER" ? "Edit" : "Resume"}}</button></td>
				</tr>
			</tbody>
		</table>
	</section>
</div>