<div>
	<section class="instructions">
		<img src="app/images/create.svg">
		<h3>Application to issue Fire Safety Certificate</h3>
		<p>
			<div class="top-message">
				The process to apply for Fire Safety Certificate has the following steps:
			</div>
			<ul>
				<li>Create a new application by clicking <strong>Create Application</strong> button below</li>
				<li>Fill <em>Form I</em></li>
				<li>Upload the <em>Certificate from Architect and Owner/Occupier</em> that all the fire prevention and fire safety measures have been incorporated in the building or premises</li>
				<li>Click <strong>Submit</strong> button on the final screen</li>
			</ul>
			<div class="bottom-message">
				Once an application in created by clicking on <strong>Create Application</strong> on this screen, it is saved in our system and you can resume filling it if you leave it incomplete by accessing the application from <strong>My Applications</strong> link on the side bar. The application is only submitted to the department for review once you click <strong>Submit</strong> on the final screen.
			</div>
		</p>
		<button ng-click="cc.createApplication()">Create Application</button>
		<small class="error">{{cc.createError}}</small>
	</section>
</div>