<div>
	<section class="applications">
		<section>
			<img src="app/images/application1.svg">
			<h4>Building Plan NOC</h4>
			<span>Select this if you need a NOC for a new building plan</span>
			<button>Apply</button>
		</section>
		<section>
			<img src="app/images/application2.svg">
			<h4>New Building NOC</h4>
			<span>Select this if you need a NOC for a new building plan</span>
			<button>Apply</button>
		</section>
		<section>
			<img src="app/images/application3.svg">
			<h4>Building NOC Renewal</h4>
			<span>Select this if you need a NOC for a new building plan</span>
			<button>Apply</button>
		</section>
	</section>
	<section class="my_applications">
		<h4>Your Recent Applications</h4>
		<table>
			<thead>
				<th>Application No.</th>
				<th>Date of Application</th>
				<th>Status</th>
				<th>Action</th>
			</thead>
			<tbody>
				<tr>
					<td>#1203</td>
					<td>June 24, 2016</td>
					<td><span class="status accepted">Accepted</span></td>
					<td>-</td>
				</tr>
				<tr>
					<td>#1204</td>
					<td>June 25, 2016</td>
					<td><span class="status rejected">Rejected</span></td>
					<td>-</td>
				</tr>
				<tr>
					<td>#1205</td>
					<td>June 26, 2016</td>
					<td><span class="status progress">Progress</span></td>
					<td>-</td>
				</tr>
			</tbody>
		</table>
	</section>
</div>