<div>
	<section class="file-upload">
		<h3>Upload Compliance Report</h3>
		<section class="upload-options">
			<div class="upload-box">
				<img src="images/list.svg">
				<small>Drag your file here</small>
			</div>
			<div class="upload-button">
				or 
				<label for="upload-input">select a file from computer</label>
				<input type="file" id="upload-input">
			</div>
		</section>
		<section class="upload-display">
			<span>Building Play Layout.pdf</span>
		</section>
		<section class="actions">
			<button class="back-button">Back</button>
			<button class="save-button">Save</button>
		</section>
	</section>
</div>