<div class="form form-i">
	<section class="letter-heading">
		<h4>FORM 'I': APPLICATION FOR GRANT OF FIRE SAFETY CERTIFICATE</h4>
		[See sub-rule (2) of rule 35]
	</section>
	<section class="letter">
		<section class="address">
			To<br>
			The Director<br>
			Delhi Fire Service<br>
			Delhi Fire Service Headquarters<br>
			Connaught Place<br>
			New Delhi-110 001<br>
		</section>
		<section class="subject">
			Sub: Application for grant of fire safety certificate in respect of
			<input type="text" class="building-name-1">
			at
			<input type="text" class="address-1">
			(address of building/premises).
		</section>
		<section class="salutation">
			Sir/Madam,
		</section>
		<section class="letter-content">
			<p>
				This is to inform you that a fire safety certificate needs to be issued in respect of
				<input type="text" class="building-name-2">
				(name of the building) located at
				<input type="text" class="address-2">
				(address of the building) comprised of
				<input type="text" class="comprised-of">
				and having occupancies as
				<input type="text" class="occupancies">
				.
			</p>
			<p>
				In this connection it is submitted that all the fire prevention and fire safety measures as recommended by you vide letter No.
				<input type="text" class="letter-no">
				dated
				<input type="date" class="letter-date">
				have been provided in the building/premises and para wise compliance report is enclosed.
			</p>
			<p>
				You are requested to kindly take action as necessary for grant of fire safety certificate for occupancy of the building/premises.
			</p>
		</section>
		<section class="sender-details">
			Dated <input type="date" class="dated"><br>
			Contact Details <input type="text" class="contact-details"><br>
			Name in full <input type="text" class="name"><br>
			Tel No. <input type="tel" class="telephone"><br>
			Mobile No. <input type="tel" class="mobile"><br>
		</section>
	</section>
	<section class="actions">
		<button class="back-button">Back</button>
		<button class="save-button">Save</button>
	</section>
</div>