<div>
	<section class="instructions">
		<img src="app/images/list.svg">
		<h3>New Building Plan Approval Application</h3>
		<p>
			<div class="top-message">
				Once you submit the application, it will go through following process:
			</div>
			<ul>
				<li>Review of application and report submission by the ALC</li>
				<li>Review of report by RO</li>
				<li>Final decision by the CFO</li>
			</ul>
			<div class="bottom-message">
				Once the application in submitted by clicking on <strong>Submit</strong> on this screen, it is sent to the Fire Department. You can always check the status of your application by accessing the application from <strong>My Applications</strong> link on the side bar.
			</div>
		</p>
		<section class="actions">
			<button class="back-button" ng-click="sc.back()">Back</button>
			<button class="save-button" ng-click="sc.submit()">Submit</button>
		</section>
	</section>
</div>