<div>
	<section class="file-upload">
		<h3>Upload Compliance Report</h3>
		<section class="upload-options">
			<div class="upload-box" ngf-drop ngf-select ng-model="arc.file" name="file">
				<img src="app/images/upload.svg">
				<small>Drag your file here</small>
			</div>
			<div class="upload-button">
				or 
				<span ngf-select ng-model="arc.file" name="file">select a file from computer</span>
			</div>
		</section>
		<section class="upload-display" ng-hide="!(arc.file.name || arc.existingDocument)">
			<span>{{arc.file.name || arc.existingDocument}}</span>
		</section>
		<section class="actions">
			<button class="back-button" ng-click="arc.back()">Back</button>
			<button class="save-button" ng-click="arc.submit()" ng-disabled="!arc.file && !arc.existingDocument">Save</button>
		</section>
		<small class="error">{{arc.attachError}}</small>
	</section>
</div>
