<div class="main">
    <h2>Sign Up</h2>
    <form name="registerForm" class="form register">
        <fieldset>
            <label for="phone">Mobile No.</label>
            <input type="number" placeholder="9876543210" name="phone" id="phone" required min="1000000000" max="9999999999" oninvalid="setCustomValidity('A valid mobile number is required')" onchange="try{setCustomValidity('')} catch(e){}" ng-model="rc.credentials.phone" autofocus>
            <label for="first_name">First Name</label>
            <input type="text" placeholder="Vaibhav" name="first_name" id="first_name" required ng-model="rc.credentials.firstName">
            <label for="last_name">Last Name</label>
            <input type="text" placeholder="Sinha" name="last_name" id="last_name" required ng-model="rc.credentials.lastName">
            <label for="email">Email ID</label>
            <input type="email" placeholder="vaibhav@delhi.gov.in" name="email" id="email" required ng-model="rc.credentials.email">
            <label for="password">Password</label>
            <input type="password" placeholder="******" name="password" id="password" required ng-model="rc.credentials.password">
            <button type="submit" ng-click="rc.register(registerForm.$invalid)">Register</button>
        </fieldset>
    </form>
    <small class="error">{{rc.registerError}}</small>
</div>