.form {
	width: 90%;
	max-width: 1200px;
	color: $grey-text-color;
	margin: 0 auto;
	margin-top: $header-height + 60px;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
	border-radius: 3px;
	padding: 40px 80px;
	line-height: 32px;

	p {
    	text-indent: 50px;
    	margin: 20px 0;
	}

	section {
		margin: 40px 0;
	}

	input {
		display: inline-block;
		border-style: none;
		border-bottom-style: solid;
		border-color: $grey-text-color;
	}

	button {
		border-style: none;
		padding: 8px 50px;
		font-size: 16px;
		cursor: pointer;
		margin: 0 5px;
	}

	.back-button {
		color: white;
		background-color: $main-color;
	}

	.save-button {
		color: white;
		background-color: #7bd54f;
	}

	.letter-heading {
		text-align: center;
	}

	.letter {
		text-align: left;
		text-indent: justify;
	}

	.actions {
		margin: 0 auto;
		text-align: center;
	}

	.salutation {
		margin-bottom: 0px;
	}

	.letter-content {
		margin-top: 10px;
	}

	.sender-details {
		input {
			width: 300px;
		}
	}

}

// Text boxes
@import '_form_i.scss';