<div class="md-inline-form">
    <md-content name="applicationForm" layout="column" layout-align="center center">
        <md-input-container>
            <label>Building Name</label>
            <input type="text" name="name" ng-model="npc.form.name" required>
            <ng-messages for="applicationForm.name.$error">
                <ng-message when="required">Building name is required!</ng-message>
            </ng-messages>
        </md-input-container>
        <md-input-container>
            <label>Building Address</label>
            <input type="text" name="address" ng-model="npc.form.address" required>
            <ng-messages for="applicationForm.address.$error">
                <ng-message when="required">Building address is required!</ng-message>
            </ng-messages>
        </md-input-container>
        <md-input-container>
            <label>Comprised of</label>
            <input type="text" name="comprised" ng-model="npc.form.comprised" required>
            <ng-messages for="applicationForm.comprised.$error">
                <ng-message when="required">This data is required!</ng-message>
            </ng-messages>
        </md-input-container>
        <md-input-container>
            <label>Having occupancy</label>
            <input type="text" name="occupancy" ng-model="npc.form.occupancy" required>
            <ng-messages for="applicationForm.occupancy.$error">
                <ng-message when="required">This data is required!</ng-message>
            </ng-messages>
        </md-input-container>
        <md-input-container>
            <label>Letter No</label>
            <input type="text" name="letterNo" ng-model="npc.form.letterNo" required>
            <ng-messages for="applicationForm.letterNo.$error">
                <ng-message when="required">Letter number is required!</ng-message>
            </ng-messages>
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click="npc.submit()">
            Attach Form
        </md-button>
    </md-content>
</div>
{{npc.submitError}}
