<md-content  layout="row" layout-align="center center">Upload the compliance report</md-content>
<md-content layout="row" layout-align="center center">
      <span class="btn btn-default btn-file col-lg-1" ngf-select ng-model="npc.file" name="file">
            <md-button class="md-raised">Select File</md-button>
      </span>
      {{npc.file.name || 'Select Compliance Report'}}

      Currently uploaded: {{npc.existingDocument}}
      <md-button class="md-raised md-primary" ng-click="npc.submit()" ng-disabled="!npc.file">Attach Document</md-button>
      <md-button class="md-raised" ng-click="npc.skip()" ng-disabled="!npc.existingDocument">Skip</md-button>
      <md-button class="md-raised" ng-click="npc.back()">Back</md-button>
      {{npc.submitError}}
</md-content>
